.ListeDossiers {
  display: flex;
  list-style: none;
  padding: 10px 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.AucunDossier{
  width: 350px;
  height: 400px;
  padding: 30px 45px 45px 45px;
  background-color: #008b8b;
  color:white;
  font-size: 1.5em;

  p{
    text-align: center;
    font-size:6em;
    margin: 50px;
  }
}